
  *
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #03a9f4;
  }

  .container{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 350px;
    height: 350px;
    margin: auto;
    background-color: #f3f3f3;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
  }

  .formBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formBx .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
  }

  .formBx .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .formBx .form form h3{
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .formBx .form form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
  }

  .formBx .form form input[type="submit"]{
    background: #03a9f4;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
  }

  .formBx .form form input[type="button"]{
    background: #91dc53;
    border: none;
    color: #fff;
    cursor: pointer;
  }

 img{
  position: absolute;
  top: 30px;
  left: 30px;
 }